{   
  "parser" : "babel-eslint",
  "plugins":["babel"],
  "env": {
      "node": true
  },
  "extends": ["airbnb-base"],
  "rules": {
      "camelcase": "off",
      "no-underscore-dangle": "off",
      "consistent-return": "off",
      "no-console": "off"
  }
}
